/* Utility */

.border{
    border: 1px dotted red;
}

/* Styles */

body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: 1px solid black;
    padding: 5px;
    margin: 10px, auto;
    font-size: 30px;
    background-color: #dac8ae;
}

header, button {
  background-color: #4F7942;
  color: #f8f4ff;  
}

header h1{
    margin-left: 20px;
    
}

#habit-div{
    /* margin-top: 10px; */
    padding: 20px;

}

#habitInput-el{
    /* width: 100%; */
    height: auto;
    padding: 5px;
    margin: 20px;
    font-size: inherit;
    box-sizing: border-box;
}

button{
    font-size: inherit;
    padding: 5px 20px;
    border: none;
    border-radius: 4.6px;
}

#habit-list{
    margin: 20px; 
    list-style-type: none;
}

.habit-item{
    padding: 5px;
}

.counter{
    display: flex;
    margin: 5px;
    padding: 5px;

}

.counter button, p{
    margin: 10px;
}